 <form style="height: 60px; width: 96%; ">
                    <input id="filter-for-listview" data-type="search" placeholder="Digite um produto para buscar" style="height: 60px;">
                </form>

                <table style="margin: 0 auto;" >
                    <tr>
                        <td style="padding-top: 150px;">
                            <div id="alimentos"></div>
                        </td>
                        <td style="padding-top: 150px;">
                            <div id="utilitarios"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                             <div id="servicos"></div>
                        </td>
                        <td>
                            <div id="outros"></div>
                        </td>
                    </tr>
                </table>