<div id="usuario-form" ng-controller="usuarioCtrl">
	<table style="margin: 0 auto;">
	<tr>
		<td style="height: 300px;">
			<img src="img/Darth_Vader.png" class="img-circle">	
		</td>
	</tr>
	<tr>
		<td>
			<label for="text-basic">Nome</label>
			<input type="text" ng-model="nomeUsuario" name="text-basic" id="text-basic"></input>
		</td>
	</tr>
	<tr>
		<td>
			<label for="text-basic">Email</label>
			<input type="text" ng-model="email" name="text-basic" id="text-basic"></input>
		</td>
	</tr>
	<tr>
		<td>
			<label for="password">Password:</label>
			<input type="password" ng-model="senha" name="password" id="password" value="" autocomplete="off">
		</td>
	</tr>
	<tr>
		<td>
			<button type="button"  data-icon="delete" data-theme="a" id="btn-usuario-add" ng-click="cadastrarUsuarioMobile()"><font>Salvar</font></button>
		</td>
	</tr>
	</table>
</div>


