<!--código responsável pelo cabelho(Logo, status e configurações )-->			
	<div id="cabecalho">
		<table class="cabecalho-table">
			<tr>
				<td class="logo">
					<label><font size="5"><b>Delivery Gerenciador</b></font></label>
				</td>
				<td>
					<a href="#" ng-click="logout()">Sair</a>
				</td>
				<td class="conta-config">
						<div class="dropdown">
						  <a class="dropdown-toggle" data-toggle="dropdown" href="#"><img src="../img/tres-barras.png" /></a>
						  	<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						    	<li> <a ng-click="getEmpresaController(empresa.cpfCnpj); getEstados(); getLatitudeLongitude()" href="#"><i class="icon-pencil"></i> Editar conta</a></li>
						  	</ul>
						</div>		
				</td>				
			</tr>
		</table>
	</div>

