<!--Codigo pertencente a tela de Pedidos-->
		<table id="cabecalho-pedido" class="pedido-header">
			<tr>
				<td style="width: 560px;">
					<font>Endereço</font>
				</td>
				<td style="width: 74px;">
					<center><font>Aberto</font></center>
				</td>
				<td style="width: 74px;">
					<center><font>Fechado</font></center>
				</td>
				<td style="width: 87px;">
					<center><font>Status</font></center>
				</td>
				<td id="preenchimento">
				</td>
			</tr>	
		</table>
<div id="pedido" >
   	<div class="accordion" id="accordion2">
		<div class="accordion-group" ng-repeat="pedido in pedidos track by pedido.id">
		    <div class="accordion-heading" style="background-color: #eeeeee;">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{pedido.id}}">						        
					<table >
			    		<tr>
			    			<td style="width: 744px; border-right: 1px solid #999999;">
			    				<font>{{pedido.endereco}}</font>
							</td>
							<td style="width: 100px; border-right: 1px solid #999999;">
								<center><font>{{pedido.horaAberto}}</font></center>
							</td>
							<td style="width: 106px; border-right: 1px solid #999999;">
								<center><font>{{pedido.horaFechado}}</font></center>
							</td>
							<td style="width: 100px;">
								<center><font ng-if="pedido.status == 0">Pendente</font></center>
								<center><font ng-if="pedido.status == 1">Aprovado</font></center>
								<center><font ng-if="pedido.status == 2">Rejeitado</font></center>
							</td>
						</tr>	
					</table>
			   </a>
			</div>
		    <div id="{{pedido.id}}" class="accordion-body collapse">
		      <div class="accordion-inner" data-ng-init="splitValuesObs(pedido.observacao)">
		      		<table>
			    		<tr>
			    			<td>
						      	<div id="pedido-container" data-ng-init="calPrecoTotal(pedido.itensPedido)">
							        <font>Itens do Pedido</font>
							        <p>
								 		<ul ng-repeat="itens in pedido.itensPedido track by itens.produto.id">
								 			<li>{{itens.produto.descricao}}</li>												 	
										</ul>
									</p>				 		
									<hr style="border: 1px solid #aaaaaa"></hr>	
									<table>
										<tr>
											<td>
												<font>Forma de Pagamento : {{pgtoTipo}} {{pgtoTipoVal}} </font></td>
										</tr>
										<tr>
											<td>
												<font>Observações : {{observacao}}</font></td>

										 	<!--td style="padding-left: 40px;">
									 			<input type="checkbox" /> inserir desconto<br/>
									 			<input type="radio" name="tipo">%
									 			<input type="radio" name="tipo">$
									 			<input type="text" class="input-small" />
											</td-->
										</tr>
								 	</table> 
									<hr style="border: 1px solid #aaaaaa"></hr>	
									<table>
										<tr>
											<td class="total-pedido">
												<font>Total: </font>  <font style="color: blue">{{total | currency : 'R$'}}</font>
											</td>
											<td class="pedido-aceitar{{pedido.id}}" id="pedido-aceitar" ng-if="pedido.status == 0">
												<button type="submit" class="btn btn-success" ng-click="atualizarStatusPedido(pedido.id, 1)">Aceitar</button>
											</td>
											<td class="pedido-rejeitar{{pedido.id}}" id="pedido-rejeitar" ng-if="pedido.status == 0">
												<button type="submit" class="btn btn-danger" ng-click="atualizarStatusPedido(pedido.id, 2)">Rejeitar</button>
											</td>
											<td class="pedido-finalizar{{pedido.id}}" id="pedido-aceitar" ng-if="pedido.status == 1">
												<button type="submit" class="btn btn-" ng-click="atualizarStatusPedido(pedido.id , 3)">Finalizar</button>
											</td>
										</tr>
									</table> 					 	
								</div>
							</td>
							<td>
								<table>
									<tr style="margin-top: 10px;">
										<td>
											<center><img src="img/Darth_Vader.png" class="img-circle" style="height: 100px; width: 100px;" /></center>
										</td>
									</tr>
									<tr style="margin-top: 10px;">
										<td>
											<font style="color: #999999; font-size: 14px;">Cliente</font><br />
											<font><strong>{{pedido.usuariosMob.nome}}</font>
										</td>
									</tr>
									<tr style="margin-top: 10px;">	
										<td>
											<font style="color: #999999; font-size: 14px;">Email do cliente</font><br />
											<font><strong>{{pedido.usuariosMob.email}}</stromg></font>
										</td>
									</tr>
									<tr style="margin-top: 10px;">	
										<td>
											<font style="color: #999999; font-size: 14px;">Endereco para entrega</font><br />
											<font><strong>{{pedido.endereco}}</stromg></font>
										</td>
									</tr>
								</table>

							  	<!--center><font size="4">Atendimento via chat</font></center>
							    <div id="chat" class="ui-widget-content" style="height:278px;">
							   		<div id="chat-typed">		      			
									</div>
									   		<div id="chat-type">
												<table>
													<tr>
														<td style="margim:0px; width: 240px; height: 100% overflow:hidden;">				
															<textarea rows="2" style="width: 248px;"></textarea>				
														</td>
														<td style="margim:0px; width: 30px; height: 20px;">
															<button type="submit" class="btn btn-primary" align="right"/><i class="icon-chevron-right"></i></button>
														</td>
													</tr>
												</table>
											</div>	      		
								</div-->
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>	
</div>