
<div id="draggable2" class="draggable ui-widget-content">
    <div  id="comanda">
        
            <img src="img/prod.jpg" style="height: 100%; width: 100px; float: left;" ng-repeat="prod in carrinho.produto track by prod.id">

    </div>
</div>
        
                <div id="comanda-btn" ng-click="comandaConteudo()">
                    <table>
                        <tr>
                            <td style="padding: 5px;"><img src="img/shopping-cart.png" style="height: 20px; width: 20px; " /></td>
                            <td style="padding: 5px;"><img src="img/chevron-up.png" style="height: 10px; width: 15px;" /></td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td>{{total | currency : "R$"}}</td>
                        </tr>
                    </table>
                </div>

                <div id="comandaConteudo" style="border: 1px solid #bbbbbb; display: none;" >
                    <div id="itens-comanda" ng-repeat="prod in carrinho.produto track by prod.id" >
                        <table>
                            <tr>
                                <td style="width: 90%">{{prod.descricao}}</td>
                                <td style="width: 10%">{{prod.preco | currency : "R$"}}</td>
                            </tr>
                        </table>   
                    </div>
                     <table align="right">
                            <tr>
                                <td><button class="btn btn-warning" ng-click="limparCarrinho()">Limpar carrinho</button></td>
                                <td><button class="btn btn-primary" ng-click="finalizarCompra()">Finalizar compra</button></td>
                            </tr>
                        </table>
                </div>

                