 <div data-role="collapsibleset" data-corners="false" data-theme="a" data-content-theme="a">
                <div data-role="collapsible">
                    <h3>Section 1</h3>
                <p>Collapsible content</p>
                </div>
                <div data-role="collapsible">
                    <h3>Section 2</h3>
                <p>Collapsible content</p>
                </div>
                <div data-role="collapsible">
                    <h3>Section 3</h3>
                <p>Collapsible content</p>
                </div>
</div>