<div id="containerProdutos"  style="display: none; heigth: 500px; overflow: auto;" data-ng-init="getEmpresasProdutosController()">
                <div class="accordion" id="accordion2">
                  <div class="accordion-group" ng-repeat="empresa in empresas track by empresa.cpfCnpj" id="emp{{empresa.cpfCnpj}}tipo">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" ng-href="#emp{{empresa.cpfCnpj}}id" id="accord">             
                          
                        <!--Codigo pertencente a cabecalho da empresa -->
                            <table>
                                <tr>
                                    <td style="width: 85%; padding: 2px;">
                                        <font style="font-size: 16px;">{{empresa.nome}}</font>
                                        <table>
                                            <td><font style="font-size: 10px; color: #999999" id="emp{{empresa.cpfCnpj}}dist"></font></td>
                                        </table>
                                    </td>
                                    <td>
                                        <img src="img/neri_lanches.jpg" class="img-circle" style="height: 50px; width: 50px;">
                                    </td>
                                </tr>
                            </table>  
                      </a>
                    </div>
                    <div id="emp{{empresa.cpfCnpj}}id" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <div class="accordion" id="accordion1">
                          <div class="accordion-group" ng-repeat="produto in empresa.produto track by produto.id">
                            <div class="accordion-heading">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" ng-href="#emp{{produto.id}}id" id="accord" style="padding: 5px; 15px;">
                                <font style="font-size: 16px; color: #55555;">{{produto.descricao}}</font>
                              </a>
                            </div>
                            <div id="emp{{produto.id}}id" class="accordion-body collapse">
                              <div class="accordion-inner">
                                
                                  <!--######################  Conteudo do produto ########################################-->
                                  <center>
                                      <img src="img/cubo-magico.jpg" style="height: 100px; width: 100px;" class="img-rounded">
                                  </center>
                                  
                                  <div id="itensDetalhes">
                                    <font size="3">Itens</font>
                                    <ul>
                                        <li ng-repeat="itens in produto.itens track by itens.id">{{itens.descricao}}</li>
                                    </ul>
                                  </div>
                                  <div id="btnComprar">
                                      <table align="right">
                                            <tr>
                                                <td style="padding: 10px;">
                                                    {{produto.preco | currency}}
                                                </td>
                                                <td>
                                                    <button class="btn btn-success" ng-click="addProduto(empresa, produto)">Adicionar</button>
                                                </td>
                                            </tr>
                                      </table>
                                    </div>      
                                      
                                  
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                
                <!--div class="accordion" id="accordion" data-ng-init="listProdutos();">
							<div class="accordion-group" ng-repeat="empresa in empresas track by empresa.cpfCnpj">
							    <div class="accordion-heading" >
							      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" ng-href="{{empresa.cpfCnpj}}">
					        			<h3>{{empresa.nome}}</h3>
						      	  </a>
							     </div>
                                
                                <div id="{{empresa.cpfCnpj}}" class="accordion-body collapse">
								    <div class="accordion-inner">
                                            teste
                                    </div>
                                </div>
	
                    </div>
               </div><!-- /content -->  
                
        </div>  
        <div id="limparCarrinhoForm" style="cursor: default; display: none; height: 90px; width: 220px; padding: 5px;">
            <font size="2">Você tem pedido de outra empresa</font>
                    deseja limpar o carrinho? 
		            <button class="btn btn-danger" style="margin-left: 5px; width: 100px;" ng-click="limparCarrinho()">Confirmar</button>
		            <button class="btn btn-success" id="desistir" style="margin-left: 5px; width: 100px;" ng-click="cancelarBlockUIEvento()">Voltar</button>
		    </div>