<div id="endereco" style="padding: 6px; height: 532px;">
    <div class="pedido-titulos">
        <label><strong>Endereço para entrega</strong></label>
    </div>
    
    <font size="2"></font>
    <table>
        <tr>
            <td>
                <font size="2"><strong>Confirme seu endereço</strong></font>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <textarea type="text" style="width: 294px; height: 60px;" ng-model="end" ng-click="endAdvertise();"></textarea>
                    <!--font size="2">{{end}}</font-->
                    <font size="2"><strong>Numero</strong></font>
                    <input type="number" class="input-medium"  ng-model="numero" placeholder="informe o numero"/>
                </div>
            </td>
        </tr>
    </table>
    <hr />
    <div class="pedido-titulos">
        <label><strong>Forma de pagamento</strong></label>
    </div>
    <font size="3"></font>
    <table>
        <tr style="height: 30px; border-bottom: 1px solid #dddddd;">
            <td style="padding: 10px;">
                <input type="radio" name="pgto" ng-model="pgtoTipo" value="cartão" id="pgtoCartao"/> <font size="2">Cartão</font>
            </td>
            <font size="2"><strong>Cartões</strong></font>
            <td style="padding: 10px;">
                <select ng-model="cartao" style="width: 160px;">
                    <option value="Visa">Visa</option>
                    <option value="Master">Master</option>
                    <option value="Outros">Outros</option>
                </select>
            </td>
        </tr>
        <tr style="height: 30px; padding: 5px; border-bottom: 1px solid #dddddd;">
            <td style="padding: 10px; padding-top: 5px; width: 50%;">
                <input type="radio" name="pgto" ng-model="pgtoTipo" value="dinheiro" id="pgtoDinheiro"/> <font size="2">Dinheiro</font>
            </td>
            <td style="padding: 10px; padding-top: 5px;">
                <input type="text" class="input-medium" ng-model="troco" placeholder="troco para ..."/>
            </td>
        </tr>
    </table>
    <hr />
    <font size="2"><strong>Observação</strong> </label>
    <textarea cols="100" lins="10" style="width: 294px;" ng-model="observacao"></textarea>
    <table align="right" ng-controller="CarrinhoCtrl">
        <tr>
            <td>
                <button class="btn btn-success" ng-click="enviarPedido()" >Enviar pedido</button>
            </td>
        </tr>
    </table>
</div>