    <table style="margin: 0 auto;" >
        <tr>
            <td>
                <div id="alimentos" ng-click="showProdutos('Alimentos')">
                    <center><img src="img/alimentos.png" height="80px" width="80px" style="padding: 23px;"/>
                     <font size="1" color="#ffffff"> Alimentos</font>
                    </center>
                </div>
            </td>
                <td>
                    <div id="utilitarios" ng-click="showProdutos('utilitarios')">
                        <center><img src="img/utilitarios.png" height="80px" width="80px" style="padding: 23px;"/>
                        <font size="1" color="#ffffff"> Utilitários</font>
                        </center>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="servicos" ng-click="showProdutos('servicos')">
                        <center><img src="img/servicos.png" height="80px" width="80px" style="padding: 23px;"/>
                            <font size="1" color="#ffffff"> Serviços</font>
                        </center>
                    </div>
                </td>
                <td>
                    <div id="outros" ng-click="showProdutos('outros')">
                        <center><img src="img/outros.png" height="80px" width="80px" style="padding: 23px;"/>
                    <font size="1" color="#ffffff"> Todos</font>
                            </center>
                    </div>
                </td>
            </tr>
    </table>