
                <div id="usuario-form" ng-controller="usuarioCtrl">
                    <table>
                        <tr>
                            <td style="height: 140px;">
                                <center><img src="img/Darth_Vader.png" class="img-circle" /></center>   
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="text-basic">Nome</label>
                                <input type="text" ng-model="nomeUsuario"></input>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="text-basic">Email</label>
                                <input type="text" ng-model="email"></input>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="password">Password:</label>
                                <input type="password" ng-model="senha">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="button"  data-icon="delete" data-theme="a" id="btn-usuario-add" ng-click="cadastrarUsuarioMobile()"><font>Salvar</font></button>
                            </td>
                        </tr>
                    </table>
                </div> 


